*{
    margin: 0;
    padding: 0;
}
.black{
    height: 40px;
    background-color: black;
}

.red{
    width: 50vw;;
    height: 90vh;
    display: inline-block;
    background-color: red;
}

.green{
    width: 49vw;
    height: 90vh;
    display: inline-block;
    background-color: rgb(23, 43, 23);
}
.foot{
    font-family: "Baloo Bhai 2", sans-serif;
    text-transform: uppercase;
}